<div class="hide modal" id="modal" role="dialog" tabindex="-1" style="display: false;" aria-hidden="false">
	<div id="modal-content"><div class="modal-header">
		<button class="close" data-dismiss="modal"><font class="">x</button>
		<h3>Terms Eduapp</h3>
	</div>
	<div class="small">
		<i class="icon-download"></i>
		<a href="http://blog.eduapp.nl/wp-content/uploads/2013/01/ALGEMENE-VOORWAARDEN-EDUAPP-V2013-1.pdf">Download as PDF</a>
	</div>
	<hr class="no_margin_bottom">
	<div class="content-overflow">
		<div class="terms">
			<p>
				<strong>Article 1. Definitions</strong>
			</p>
			<ol>
				<li><font class="">
					In these general conditions the following terms have the following meanings, unless explicitly stated otherwise.
				<br><font class="">
					Eduapp means all websites, web applications, functionalities etc. under the name Eduapp is offered on the Internet.
				<br><font class="">
					User or legal, any natural person who services from Provider or otherwise uses Eduapp, such as the grasp and placing material.
				<br><font class="">
					End: actual (natural) person who uses the Services and is logged in as user Eduapp.
				<br><font class="">
					account: individual per User or End User for relevant User / End unique access privileges registration Eduapp providing award.
				<br><font class="">
					Services: all by behalf Provider Internet or otherwise to user set or the disposal or deliver services and other related services.
				<br><font class="">
					Agreement: the agreement between the Supplier and User or contribute to the provision of Services.
				<br><font class="">
					material: all over Eduapp accessible data and files from Provider or User including, but not limited to, reports, reviews, ads, illustrations, video and audio clips, photos, hyperlinks and (les) ideas and concepts.
				<br><font class="">
					Supplier: the private company with limited liability Eduapp Benelux BV and all affiliated trade as known at the Chamber of Commerce under number 56,638,191
				<br><font class="">
					Conditions: these general conditions including the Provider Policies.
				<br><font class="">
					Policies: via the Eduapp searchable statements and other documents that contain binding rules for the use of (parts of) Eduapp.
				</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 2. Applicability and Compliance Policy</strong>
			</p>
			<ol>
				<li>By using Eduapp in any way User / End User acknowledges to have read and unconditionally agree to the terms and conditions.</li>
				<li>If one or more provisions of these Terms are invalid or void, the remaining provisions of the Terms remain in full force.</li>
				<li>In case of conflict, the provisions of the above provisions of the Policies and Conditions shall prevail.</li>
				<li>If User is a legal person, she is fully responsible for matters within their organization End User agree to the Terms and Conditions.</li>
				<li>If a user is acting in breach of the Terms, Provider will decide at its discretion or relevant End User, or in the case of a legal entity User may all belong to that organization end users, access to Eduapp be excluded. In such a case exists for User is not entitled to a refund of any fees paid.</li>
				<li>If there is a serious breach of the Terms and / or infringement of intellectual property rights is User / End liable for the resulting damage and the reimbursement thereof if necessary be enforced by legal or recovered.</li>
				<li>Provider may unilaterally amend the Terms and Conditions. User / End user is advised to check Eduapp. Via the regular channels the Terms regularly for changes If User / End after changes to the Terms will continue to use Eduapp is User / End User shall be deemed to accept. Conditions irrevocably altered the</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 3. Account</strong>
			</p>
			<ol>
				<li>Access to Eduapp End User shall be effected by means of authorization via an Account. User / End-users are responsible for all conducted with or through the Account (legal) acts, including use and / or abuse.</li>
				<li>Eduapp reserves the right to refuse or cancel, for example in the case User / End User Account after registration again fails to comply with the obligations referred to in Article 4 of the Terms. An application for an Account</li>
				<li>The account is associated with a password. This password is strictly personal and confidential. Provider assumes no liability for abuse of the password. If End User suspects that an unauthorized third party use this password, please contact Provider. User / End User shall immediately contact User / End User is at all times fully responsible for everything that happens on its own account.</li>
				<li>End User is mandatory when creating the account. Correct data End user is required to disclose changes to such data. Provider forthwith</li>
				<li>The End User is not allowed to apply for more than one or manage. (A) Account The End User is further prohibited (again) to apply for or to manage after a Provider Account has refused or an End User Account after registration has lifted an Account.</li>
				<li>User / End user can have his / her Account lift if he no longer wishes to make. Eduapp of use User / End User must make Provider stating the relevant credentials. Indicate this by email</li>
				<li>Posted by End User Material can not and will not be removed. Towards the removal of the account as a whole In respect of the material that is not removed will the Provider associated with the account data anonymous so that the material is no longer Customer / End User is traceable.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 4. Obligations User / End User</strong>
			</p>
			<ol>
				<li>User / End User must notify in accordance with what a responsible and careful may be. Internet user expects on In particular, User / End User adhere to the rules and Netiquette or to User / End User specifically to the requirements and guidelines set out in the Policies directed.</li>
				<li>The User / End user not to post or to carry that violate the Terms, laws, public order or morality. Acts permitted Material Will also User / End User make or otherwise acting in breach of intellectual property rights of Seller, other Users / End Users or third parties are not prejudiced.</li>
				<li>The User / End User is not allowed to interfere with other users and / or damage to the systems of the Provider. It is for User / End any processes or start which User / End User know, programs or reasonably should know that such Provider, or other users obstructs or (in) causes direct damage.</li>
				<li>Eduapp is intended for personal consultation via normal browser visits. It is not allowed to material in an automated way (have) access, for example through scripts, spiders and / or bots. Any hyperlinks to Eduapp (from third-party sites) should lead to the Material. Direct users It should clearly come forward. Well under any circumstance the origin and location of the original material Copying, framing, republication, or any processing or addition to the material are not permitted unless prior written consent is obtained Provider. It is also not permitted to circumvent the technical protection devices or to remove, or to make it. Possible for others</li>
				<li>User / End User is responsible for the content of all Content via his / her account is located. Eduapp on</li>
				<li>Furthermore, including (but not exhaustive), not allowed in Eduapp, the following:</li>
					- Expressions, messages, texts or names racist or otherwise offensive or distribute coarse nature and / or publicized.
				<br>
					- Sexual harassment of other users.
				<br>
					- Disclosure or dissemination of any kind of pornographic material.
				<br>
					- Any form of public use or distribution of any form of advertising whatsoever, and refer to advertising by linking or deep-linking.
				<br>
					- Maim, modify and / or corrupt files, information and / or other material Eduapp.
				<br>
					- Spamming.
				<li>The result of unauthorized acts mentioned in this article, to the free discretion of the Supplier Eduapp be immediately removed or corrected. Further Provider reserves the right to take action. 5 and 6 indicated in Article 2, paragraph</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 5. Obligations Provider</strong>
			</p>
			<ol>
				<li>Provider will endeavor to make available to the User / End User. Eduapp Provider does not guarantee that Eduapp at all times, uninterrupted or will be complete. Available</li>
				<li>Provider reserves the right to:</li>
					- Blocking Eduapp unannounced or outside for the benefit of maintenance, modification or improvement purposes;
				<br>
					- expand unannounced parts of Eduapp adapt, delete or otherwise change.
				<li>Provider does not warrant that Eduapp is free from errors or omissions or that Eduapp current, complete or accurate.</li>
				<li>It's Supplier at all times authorized material that is placed both on content and to customize its design and / or change to metadata or the readability of the overall quality of the material and / or Eduapp to the Material User / End User guarantee.</li>
				<li>Provider is not obliged to manage, edit metadata for placement, monitor or monitors. Eduapp on active material Provider does not guarantee the quality, accuracy or legality of the material.</li>
				<li>Certain components of the material, such as hyperlinks or inserted images or files lead to managed by third parties, external websites. Seller is not responsible for the content and operation of these external sites, nor the quality of any software, products or services offered thereon and shall not be liable. Provider's privacy policy does not apply to personal data collected. Using these external websites</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 6. Fees</strong>
			</p>
			<ol>
				<li>Provider may choose to offer a fee certain Services. The amount of compensation for Eduapp is known from the site published rates. The fee for such services may vary by January 1 each re-indexed.</li>
				<li>The fee is set annually and include VAT, unless otherwise indicated. Provider may choose to offer upon receipt of an advance payment only. Services</li>
				<li>Invoices must be made within 14 days of the invoice date. Payment shall be made without any deduction, discount or suspension. </li>
				<li>If the User the amounts due are not referred pay in paragraph 3 of this Article, within the term - after notice - User on that amount payable to the applicable statutory interest, and Provider (subject to the other rights accruing) entitled to suspend the implementation of the Agreement. If User after notice fails to pay the claim in addition to sums then User is also under an obligation to pay in full the extrajudicial (collection) costs. </li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 7. Liability</strong>
			</p>
			<ol>
				<li>Provider is not liable for any direct or indirect damages or costs of User / End User or any third party, for any reason whatsoever, resulting from the use of (parts of) Eduapp, including damage caused by the inaccuracy or incompleteness of the material or due to errors or use, unless the damage is caused by intent or gross negligence of the Supplier.</li>
				<li>If User / End User fails to meet his / her obligations under the Conditions User / End User liable for any resulting damage to Provider.</li>
				<li>User / End User shall indemnify Provider and all enabled by Provider third parties against any claims by third parties in respect of all damages and costs arising in any way from the use by the User / End of Eduapp, or by the failure of User / End User of his / her obligations under the Terms and Conditions.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 8. Odds</strong>
			</p>
			<ol>
				<li>Provider is not obliged to perform any obligation if prevented from doing so due to force majeure. Force majeure is understood shortcomings of third parties engaged by Provider, and interruptions or disturbances in the power and / or telecommunication facilities.</li>
				<li>If the force majeure days has lasted longer than sixty (60) User / End User to his / terminate without Provider or is held. To refund any fees paid, to any other compensation for costs or damages her Account</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 9. Intellectual Property Rights</strong>
			</p>
			<ol>
				<li>All intellectual property, including but not limited to copyright and database rights in Eduapp and posted by Provider material, as well as the metadata by Provider is added to material by User / End User is placed exclusively vested in Seller or its licensor.</li>
				<li>User / End User is in principle entitled to the posted by him / her material, such as copyright and any other intellectual property rights.</li>
				<li>Unless otherwise stated, the material made available under the Creative Commons Attribution 3.0 License. The rights to Eduapp (including, but not limited to copyright, database rights and how the material is arranged and accessible, called metadata) are expressly excluded from the Creative Commons license referred to in this paragraph.</li>
				<li>User / End User must take into account when placing material that the license referred to in paragraph 3 of this Article shall apply. It is thus the sole responsibility of User / End User prior to ask any copyright owner (s) of the (existing) material by placing User / End User consent.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 10. Secrecy</strong>
			</p>
			<ol>
				<li>User is obliged all the information it obtains in any way of the Provider in relation to commercial, strategic, technical data, knowledge and / or other information related to Eduapp, strictly private and should not disclose and / or it give access to third parties. </li>
				<li>The provisions of paragraph 1 of this Article may be waived, if this information was already well known prior to the conclusion of the Agreement or consent is given in advance of publication only.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 11. Privacy &amp; data</strong>
			</p>
			<ol>
				<li>Provider processes personal data of the User / End necessary for the maintenance of Eduapp and providing services to the User / End User. Provider has its privacy policy spelled out in its Privacy Statement. User / End User by registration gives consent to the processing of personal data as described in the Privacy Statement.</li>
				<li>User / End User warrants that he is acting in full compliance with all applicable laws and regulations in the field of the protection of personal data and unsolicited communications. In particular stands User / End User guarantees that he has obtained in his / her personal data of third place on Eduapp. Required consents from third parties</li>
				<li>User / End User will process any personal data of third parties or otherwise use.</li>
				<li>Provider uses cookies. A cookie is a small file containing pages of Eduapp is sent, so that different retrievals of pages of Eduapp can be combined and the behavior of User / End-users can be analyzed. What cookies Provider used and for what purpose it does this is shown in the Statement of Cookie Provider.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 12. Duration and Termination Agreement</strong>
			</p>
			<ol>
				<li>The Agreement is entered into for a minimum period of 1 (one) year. Denunciation, the Convention then tacitly, each with a duration of 1 (one) year.</li>
				<li>After the initial period of 1 (one) year User can terminate the Agreement in writing at least 2 (two) months before the expiry of the agreed period.</li>
				<li>In case the User is a consumer the possibility to terminate at the end of a calendar month, subject to a period of 1 (one) calendar month. Agreement after the expiry of the initial period of 1 (one) year interim Provider will then User to any prepaid fees partially refunded proportionately.</li>
				<li>Provider may terminate the Agreement without notice and without judicial intervention, by written notice with immediate effect, in whole or in part, when User provisional or non-suspension of payment is granted, when in respect of User bankruptcy is filed or if his / her company is liquidated or terminated other than for the purpose of reconstruction or amalgamation of enterprises.</li>
			</ol>
			<br>
			<br>
			<p>
				<strong>Article 13. Applicable law and disputes</strong>
			</p>
			<ol>
				<li>All legal relationships to which Seller is a party, only Dutch law, even if it is given to a contract wholly or partly abroad or if the party involved in the legal relationship is domiciled there. The applicability of the Vienna Sales Convention is excluded.</li>
				<li>Parties will first appeal to the courts after they have made every effort to settle a dispute. Mutual agreement</li>
				<li>All disputes arising from offers and agreements, whatsoever, shall be subject to the judgment of the court in the district in which the Supplier is located, unless the law requires another court asserts jurisdiction.</li>
			</ol>
			<br>
			<br>
			<em>
				V2013-01
			</em>
		</div>
	</div>
</div>
</div>