<div class="container main_container">

	<div class="row">
		<div class="span12 main one_column">
			<div class="content">
				<h1>Sample Page</h1>
				<hr>
				<p>Here is sample page!</p>

			</div>

		</div>
	</div>
</div>